exportPattern("^[[:alpha:]]+")
import(Hmisc, MASS, RColorBrewer, foreign)
importFrom("grDevices", "colorRampPalette", "dev.new", "dev.off", "pdf")
importFrom("graphics", "layout", "legend", "lines", "locator", "par", "plot", "plot.new", "points", "rect", "segments", "text", "title")
