importFrom(minqa, bobyqa)   
importFrom(Matrix, bdiag)   
import(stats)
import(graphics)
importFrom("utils", "flush.console")
S3method(print, glmmLasso)
S3method(summary, glmmLasso)
S3method(predict, glmmLasso)
S3method(plot, glmmLasso)
S3method(print, summary.glmmLasso)
export(glmmLasso, glmmLassoControl, acat, cumulative)

